In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [8]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [10]:
type(df['W'])

pandas.core.series.Series

In [11]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df['new'] = df['Y'] + df['Z']

In [14]:
df['new']

A    1.411795
B   -0.242112
C   -0.060187
D    0.021819
E    3.289476
Name: new, dtype: float64

In [19]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476

In [23]:
df.drop('new', axis=1, inplace=True)

KeyError: "['new'] not found in axis"

In [24]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df.shape

(5, 4)

In [28]:
df[['X', 'W']]

          X         W
A  0.628133  2.706850
B -0.319318  0.651118
C  0.740122 -2.018168
D -0.758872  0.188695
E  1.978757  0.190794

In [29]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [30]:
# index based location
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [34]:
df.loc[['A', 'B'], ['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965