In [1]:
def times2(num):
    return num*2

In [2]:
print(times2(2))

4

In [3]:
# map

In [4]:
seq = [1,2,3,4]

In [5]:
list(map(times2, seq))

[2, 4, 6, 8]

In [6]:
# lambda

In [7]:
lambda var:var*2

In [9]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8]

In [10]:
# filter

In [11]:
list(filter(lambda var:var%2 == 0, seq))

[2, 4]

In [12]:
# funcoes uteis

In [14]:
s = 'hello my name is Bond'

In [15]:
s.lower()

'hello my name is bond'

In [16]:
s.upper()

'HELLO MY NAME IS BOND'

In [17]:
s.split()

['hello', 'my', 'name', 'is', 'Bond']

In [18]:
tweet = 'Go OKC! #NBA'

In [19]:
tweet.split('#')

['Go OKC! ', 'NBA']

In [21]:
'x' in [1,2,3]

False

In [22]:
'x' in ['x', 'y', 'z']

True

In [23]:
x = [(1,2), (3,4), (5,6)]

In [25]:
for item in x:
    print (item)

(1, 2)
(3, 4)
(5, 6)

In [26]:
# tuple unpacking

In [28]:
for (a,b) in x:
    print (b)

2
4
6